.button:hover{
  cursor: pointer
}
.routLink{
background-color:#1a5ebd;
margin: 5px;
border: 4px solid rgb(230, 222, 208);
text-decoration: none;
padding:5px 10px;
border-radius: 18px;
color: white;
text-transform: uppercase;
font-size: 1.1rem;
}
.routLink:hover{
  background-color:rgb(230, 222, 208);
  border: 4px solid rgb(52, 82, 180);
  font-size: 1.2rem;
  color: rgb(11, 37, 122);
}
.div{
  flex-grow: 1;
  background: rgb(209, 51, 51);
}
/* .routLink:active{
  background-color: gainsboro;
} */
